<!DOCTYPE HTML>
<html>
    <head>
        <title>Rooms</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    </head>
    {%load static%}
<body style="background-image:url({%static 'pay4.jpg' %});background-size:cover;">
{% block content %}
<div style="margin-left:50px;margin-right:50px;margin-top:70px;color:white">
    <div class="container-sm align-content-sm-center">
        <div class="row">
            <div class="col-lg-6">
                <h1> Room Details </h1>
                </br>
                <h3>Room No: {{room_obj.room_no}}</h3>
                </br>
                <h3>Type: {{room_obj.room_type}} </h3>

            </div>

            <div class="col-lg-6">
                <h1>Customer Details</h1>
                </br> 
                <h3>Customer Name: {{user_obj.first_name}} {{user_obj.last_name}}</h3>
                </br>
                <h3>Email: {{user_obj.email}} </h3>
                </br>
                <h3>Mobile: {{user_obj.mobile}} </h3>
                </br>
            </div> 
        </div>

        <div class="row">
            <div class="col-lg-4">
                </br>
                <h1>Payment Details</h1>
            </div>

            <div class="col-lg-8">
                </br>
                <h3>Room price: <i class="bi bi-currency-rupee">
                                   <span ><b>&#8377;</b></span>
                                </i>{{room_obj.room_price}} /day
                </h3>
                <h3>Check In: {{check_in}} </h3>
                <h3>Check Out: {{check_out}} </h3>
                <h3>No of Days: {{no_of_days}} </h3>
                <h3>Total payable: <i class="bi bi-currency-rupee">
                                        <span ><b>&#8377;</b></span>
                                    </i>{{amount_payable}} 
                </h3>
            </div>
            
        </div>

        <div class="row">
            <div class="container-sm align-content-sm">
                </br>
                <form action="{% url 'paymentreview' %}"method="POST">
                    <div class="d-grid">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary btn-block" id="pay-btn">Pay Now</button>
                    </div>
                </form>
                </div> 
        </div>
    </div>


</div>
{% endblock %}
</body>

</html>

    {% comment %} "image": "https://example.com/your_logo", {% endcomment %}